.customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.customer {
    background-color: rgb(105, 245, 255);
    border-color: 2px dotted rgb(0, 136, 255);
    color: black; 
    padding: 0.5rem;
    margin: 0.5rem; 
}

.customer_header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}
