.tickets {
    display: flex;
    flex-direction: column;

}

.ticket {
    background-color: rgb(230, 178, 230);
    border: 1px dotted darkmagenta;
    padding: 0.7rem;
    margin: 0.5rem; 
}

.description_box {

    display: flex;
    flex-direction: column;


}


.description_field {
    height: 15em;
}

.footer {
    display: flex;
    justify-content: space-between; 
}